@charset "utf-8";
/* CSS Document */

#form 
{
	position:relative;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	background-color:#aaa;
	border: 1px solid black;
	padding: 10px;
}

#confirmation
{
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #aaa;
	border: 1px solid black;
	padding: 10px;
	display:none;
}


/* Label Styling */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Span Error Styling */
span {
    color: red;
    font-size: 18px;
    display: inline-block; /* Ensure span appears inline with input */
    
}
/* Confirmation Text */
#info {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
}

